<ion-view view-title="카드팩 만들기">
  <ion-nav-buttons side="primary">
    <button ng-click="sendData()" ng-hide="shouldShowDelete" class="button button-clear pull-right">저장</button>
    <button ng-click="openModal($index, {})" ng-hide="shouldShowDelete" class="button button-clear pull-right">추가</button>
    <button ng-click="toggleDelete()" ng-show="shouldShowDelete" class="button button-clear pull-right">취소</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">카드팩명</span>
        <input ng-model="data.name" type="text" placeholder="카드팩명을 적어주세요.">
      </label>
    </div>

    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item on-hold="onHold()" ng-click="openModal($index, item)" ng-repeat="item in items" class="item">

        <div ng-bind-html="item.title"></div>
        <div ng-bind-html="item.description"></div>

        <ion-option-button class="button-info" ng-click="openModal($index, item)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view ng-controller="CardpackCreateModalCtrl">
    <ion-header-bar>
      <button ng-click="modal.hide()" class="button button-balanced">닫기</button>
      <h1 class="title">Edit</h1>
      <button ng-click="setData(modalData.front, modalData.back)" class="button button-calm pull-right">저장</button>
    </ion-header-bar>
    <ion-content>
      <textarea ui-tinymce="tinymceOptions" ng-model="modalData.front"></textarea>
      <textarea ui-tinymce="{trusted: true}" ng-model="modalData.back"></textarea>

    </ion-content>
  </ion-modal-view>
</script>
