<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-controller="Dashboard.ChartCtrl">
      <div class="item item-divider">최근 학습기록</div>
      <div class="item item-body">
        <canvas id="line" class="chart chart-line" data="data"
                labels="labels" legend="true" series="series"
                click="onClick">
        </canvas>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">내 학습진도</div>
      <div class="item item-body">
        <div>
          <ion-list ng-controller="Dashboard.ListCtrl">
            <ion-item ng-repeat="myfavorite in myfavorites">
              <a ng-href="#/memorizeplayer/{{myfavorite.cardId}}">{{myfavorite.name}}</a>
              <br>
              <a>{{myfavorite.status.right}}</a>
              /
              <a>{{myfavorite.size}}</a>
              <!--<progress max="{{myfavorite.size}}" value="{{myfavorite.status.right}}"> </progress>-->
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">내 카드팩 <a ng-href="#/cardpacks/new">+ 카드 만들기</a></div>
      <div class="item item-body">

        <ion-list ng-controller="Dashboard.MyListCtrl">
          <ion-item ng-repeat="cardpack in cardpacks">
            <a ng-href="#/cardpacks/{{cardpack.cardpackId}}">{{cardpack.cardpackName}}</a>
          </ion-item>
        </ion-list>
      </div>

      <div>
        내가 만든 카드팩이 없습니다.
      </div>
      <a ng-href="#/cardpacks/new">+ 카드 만들기</a>

    </div>
  </ion-content>
</ion-view>
