<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card">
      <div class="item item-divider">최근 학습기록</div>
      <div class="item item-body">
        <canvas id="line" class="chart chart-line" data="data"
                labels="labels" legend="true" series="series"
                click="onClick">
        </canvas>

        <p ng-show="data.length <= 0">학습기록이 없습니다.</p>
        <p ng-show="data.length > 0">※ 학습기록은 30분에 한번씩 업데이트 됩니다.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">내 학습진도</div>
      <div class="item item-body">
        <div ng-show="studystatusList.length > 0">
          <ion-list>
            <ion-item  ng-click="goMemorizePlayer(item.cardpackId)" ng-repeat="item in studystatusList">
              <a>{{item.cardpackName}}</a>
              <br>
              <a>{{item.rightCnt}}</a> / <a>{{item.cardCnt}}</a>
            </ion-item>
          </ion-list>
        </div>

        <p ng-show="studystatusList.length <= 0">학습 중인 카드팩이 없습니다.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">내 카드팩 <a ng-href="#/cardpacks/new">+ 카드 만들기</a></div>
      <div class="item item-body">

        <ion-list ng-show="cardpacks.length > 0">
          <ion-item ng-repeat="cardpack in cardpacks">
            <a ng-href="#/cardpacks/{{cardpack.cardpackId}}">{{cardpack.cardpackName}}</a>
          </ion-item>
        </ion-list>

        <p ng-show="cardpacks.length <= 0">
          내가 만든 카드팩이 없습니다.
        </p>
        <a ng-show="cardpacks.length <= 0" ng-href="#/cardpacks/new">+ 카드 만들기</a>
      </div>
    </div>
  </ion-content>
</ion-view>
