<style>
  .body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 500px;
    height: 300px;
    margin: 20px auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
</style>

<ion-view view-title="Memorize Player">
  <ion-content>
    <div class="body">
      <a class="assertive">틀림 : {{data.wrong}}</a>
      <a class="calm">맞음 : {{data.right}}</a>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--<div class="swiper-slide">Slide 1</div>-->
          <div class="swiper-slide" ng-repeat="card in data.cardpack.cards" on-finish-render>
            <div ng-bind-html="card.front" ng-click="showBack()"></div>
          </div>
        </div>
      </div>

      <!-- Range -->
      <div class="item range">
        <input type="range" name="volume" min="0" max="{{data.max}}" value="0" ng-model="data.current">
      </div>

      <!-- Select -->
      <div class="bar bar-light">
        <button ng-click="wrong()" class="button button-assertive">틀림</button>
        <div class="title">어땠나요?</div>
        <button ng-click="right()" class="button button-calm">맞음</button>
      </div>
    </div>
  </ion-content>
</ion-view>
