<ion-view view-title="Sign-In">
  <ion-content ng-controller="SigninCtrl">
    <div ng-show="isInner" class="list">
      <label class="item item-input">
        <span class="input-label">User id</span>
        <input type="text" ng-model="user.userId">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>

    <div class="padding">
      <button ng-show="isInner" class="button button-block" ng-click="signIn(user)">
        Sign-In
      </button>
      <button class="button button-block button-positive" ng-click="signInFacebook()">
        <img ng-src="{{config.CDN_URL}}images/social-icons/facebook.png">
        sign in with facebook
      </button>
      <button ng-show="isGooglePlus" class="button button-block button-assertive" ng-click="signInGooglePlus()">
        <img ng-src="{{config.CDN_URL}}images/social-icons/googleplus.png">
        sign in with google+
      </button>

    </div>
  </ion-content>
</ion-view>
